<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lec.common.system.dao.UserDeskMapper" >
  <resultMap id="BaseResultMap" type="com.lec.common.system.vo.UserDesk" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="RESOURCE_ID" property="resourceId" jdbcType="VARCHAR" />
    <result column="SCREENNUM" property="screennum" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, USER_ID, RESOURCE_ID, SCREENNUM
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.lec.common.system.vo.UserDeskSearch" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from SYS_USER_DESK
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from SYS_USER_DESK
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from SYS_USER_DESK
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.lec.common.system.vo.UserDeskSearch" >
    delete from SYS_USER_DESK
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lec.common.system.vo.UserDesk" useGeneratedKeys="true" keyProperty="id" >
    insert into SYS_USER_DESK (USER_ID, RESOURCE_ID, SCREENNUM
      )
    values (#{userId,jdbcType=VARCHAR}, #{resourceId,jdbcType=VARCHAR}, #{screennum,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lec.common.system.vo.UserDesk" useGeneratedKeys="true" keyProperty="id" >
    insert into SYS_USER_DESK
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="@Ognl@isNotEmpty(id)" >
        ID,
      </if>
      <if test="@Ognl@isNotEmpty(userId)" >
        USER_ID,
      </if>
      <if test="@Ognl@isNotEmpty(resourceId)" >
        RESOURCE_ID,
      </if>
      <if test="@Ognl@isNotEmpty(screennum)" >
        SCREENNUM,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="@Ognl@isNotEmpty(id)" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(userId)" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(resourceId)" >
        #{resourceId,jdbcType=VARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(screennum)" >
        #{screennum,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lec.common.system.vo.UserDeskSearch" resultType="java.lang.Integer" >
    select count(*) from SYS_USER_DESK
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update SYS_USER_DESK
    <set >
      <if test="@Ognl@isNotEmpty(record.id)" >
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(record.userId)" >
        USER_ID = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(record.resourceId)" >
        RESOURCE_ID = #{record.resourceId,jdbcType=VARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(record.screennum)" >
        SCREENNUM = #{record.screennum,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update SYS_USER_DESK
    set ID = #{record.id,jdbcType=VARCHAR},
      USER_ID = #{record.userId,jdbcType=VARCHAR},
      RESOURCE_ID = #{record.resourceId,jdbcType=VARCHAR},
      SCREENNUM = #{record.screennum,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lec.common.system.vo.UserDesk" >
    update SYS_USER_DESK
    <set >
      <if test="@Ognl@isNotEmpty(userId)" >
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(resourceId)" >
        RESOURCE_ID = #{resourceId,jdbcType=VARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(screennum)" >
        SCREENNUM = #{screennum,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lec.common.system.vo.UserDesk" >
    update SYS_USER_DESK
    set USER_ID = #{userId,jdbcType=VARCHAR},
      RESOURCE_ID = #{resourceId,jdbcType=VARCHAR},
      SCREENNUM = #{screennum,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <select id="getListByCondition" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
     from SYS_USER_DESK
    <where >
      <if test="@Ognl@isNotEmpty(orgs)" >
         and ${orgs}
      </if>
      <if test="@Ognl@isNotEmpty(id)" >
         and ID = #{id,jdbcType=VARCHAR}
      </if>
      <if test="@Ognl@isNotEmpty(userId)" >
         and USER_ID = #{userId,jdbcType=VARCHAR}
      </if>
      <if test="@Ognl@isNotEmpty(resourceId)" >
         and RESOURCE_ID = #{resourceId,jdbcType=VARCHAR}
      </if>
      <if test="@Ognl@isNotEmpty(screennum)" >
         and SCREENNUM = #{screennum,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
  <select id="countList" resultType="java.lang.Integer" >
    select count(*) from SYS_USER_DESK
    <where >
      <if test="@Ognl@isNotEmpty(orgs)" >
         and ${orgs}
      </if>
      <if test="@Ognl@isNotEmpty(id)" >
         and ID = #{id,jdbcType=VARCHAR}
      </if>
      <if test="@Ognl@isNotEmpty(userId)" >
         and USER_ID = #{userId,jdbcType=VARCHAR}
      </if>
      <if test="@Ognl@isNotEmpty(resourceId)" >
         and RESOURCE_ID = #{resourceId,jdbcType=VARCHAR}
      </if>
      <if test="@Ognl@isNotEmpty(screennum)" >
         and SCREENNUM = #{screennum,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
</mapper>