<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lec.common.region.dao.RegionMapper" >
  <resultMap id="BaseResultMap" type="com.lec.common.region.vo.Region" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Thu Jul 27 11:16:01 CST 2017.
    -->
    <id column="ID" property="id" jdbcType="NVARCHAR" />
    <result column="NAME" property="name" jdbcType="NVARCHAR" />
    <result column="PID" property="pid" jdbcType="NVARCHAR" />
    <result column="SORT" property="sort" jdbcType="INTEGER" />
    <result column="LONGITUDE" property="longitude" jdbcType="DECIMAL" />
    <result column="LATITUDE" property="latitude" jdbcType="DECIMAL" />
    <result column="REMARK" property="remark" jdbcType="NVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Thu Jul 27 11:16:01 CST 2017.
    -->
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Thu Jul 27 11:16:01 CST 2017.
    -->
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Thu Jul 27 11:16:01 CST 2017.
    -->
    ID, NAME, PID, SORT, LONGITUDE, LATITUDE, REMARK
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.lec.common.region.vo.RegionSearch" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Thu Jul 27 11:16:01 CST 2017.
    -->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from SYS_REGION
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Thu Jul 27 11:16:01 CST 2017.
    -->
    select 
    <include refid="Base_Column_List" />
    from SYS_REGION
    where ID = #{id,jdbcType=NVARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Thu Jul 27 11:16:01 CST 2017.
    -->
    delete from SYS_REGION
    where ID = #{id,jdbcType=NVARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.lec.common.region.vo.RegionSearch" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Thu Jul 27 11:16:01 CST 2017.
    -->
    delete from SYS_REGION
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lec.common.region.vo.Region" useGeneratedKeys="true" keyProperty="id" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Thu Jul 27 11:16:01 CST 2017.
    -->
    insert into SYS_REGION (NAME, PID, SORT, 
      LONGITUDE, LATITUDE, REMARK
      )
    values (#{name,jdbcType=NVARCHAR}, #{pid,jdbcType=NVARCHAR}, #{sort,jdbcType=INTEGER}, 
      #{longitude,jdbcType=DECIMAL}, #{latitude,jdbcType=DECIMAL}, #{remark,jdbcType=NVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lec.common.region.vo.Region" useGeneratedKeys="true" keyProperty="id" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Thu Jul 27 11:16:01 CST 2017.
    -->
    insert into SYS_REGION
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="@Ognl@isNotEmpty(id)" >
        ID,
      </if>
      <if test="@Ognl@isNotEmpty(name)" >
        NAME,
      </if>
      <if test="@Ognl@isNotEmpty(pid)" >
        PID,
      </if>
      <if test="@Ognl@isNotEmpty(sort)" >
        SORT,
      </if>
      <if test="@Ognl@isNotEmpty(longitude)" >
        LONGITUDE,
      </if>
      <if test="@Ognl@isNotEmpty(latitude)" >
        LATITUDE,
      </if>
      <if test="@Ognl@isNotEmpty(remark)" >
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="@Ognl@isNotEmpty(id)" >
        #{id,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(name)" >
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(pid)" >
        #{pid,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(sort)" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="@Ognl@isNotEmpty(longitude)" >
        #{longitude,jdbcType=DECIMAL},
      </if>
      <if test="@Ognl@isNotEmpty(latitude)" >
        #{latitude,jdbcType=DECIMAL},
      </if>
      <if test="@Ognl@isNotEmpty(remark)" >
        #{remark,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lec.common.region.vo.RegionSearch" resultType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Thu Jul 27 11:16:01 CST 2017.
    -->
    select count(*) from SYS_REGION
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Thu Jul 27 11:16:01 CST 2017.
    -->
    update SYS_REGION
    <set >
      <if test="@Ognl@isNotEmpty(record.id)" >
        ID = #{record.id,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(record.name)" >
        NAME = #{record.name,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(record.pid)" >
        PID = #{record.pid,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(record.sort)" >
        SORT = #{record.sort,jdbcType=INTEGER},
      </if>
      <if test="@Ognl@isNotEmpty(record.longitude)" >
        LONGITUDE = #{record.longitude,jdbcType=DECIMAL},
      </if>
      <if test="@Ognl@isNotEmpty(record.latitude)" >
        LATITUDE = #{record.latitude,jdbcType=DECIMAL},
      </if>
      <if test="@Ognl@isNotEmpty(record.remark)" >
        REMARK = #{record.remark,jdbcType=NVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Thu Jul 27 11:16:01 CST 2017.
    -->
    update SYS_REGION
    set ID = #{record.id,jdbcType=NVARCHAR},
      NAME = #{record.name,jdbcType=NVARCHAR},
      PID = #{record.pid,jdbcType=NVARCHAR},
      SORT = #{record.sort,jdbcType=INTEGER},
      LONGITUDE = #{record.longitude,jdbcType=DECIMAL},
      LATITUDE = #{record.latitude,jdbcType=DECIMAL},
      REMARK = #{record.remark,jdbcType=NVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lec.common.region.vo.Region" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Thu Jul 27 11:16:01 CST 2017.
    -->
    update SYS_REGION
    <set >
      <if test="@Ognl@isNotEmpty(name)" >
        NAME = #{name,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(pid)" >
        PID = #{pid,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(sort)" >
        SORT = #{sort,jdbcType=INTEGER},
      </if>
      <if test="@Ognl@isNotEmpty(longitude)" >
        LONGITUDE = #{longitude,jdbcType=DECIMAL},
      </if>
      <if test="@Ognl@isNotEmpty(latitude)" >
        LATITUDE = #{latitude,jdbcType=DECIMAL},
      </if>
      <if test="@Ognl@isNotEmpty(remark)" >
        REMARK = #{remark,jdbcType=NVARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=NVARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lec.common.region.vo.Region" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Thu Jul 27 11:16:01 CST 2017.
    -->
    update SYS_REGION
    set NAME = #{name,jdbcType=NVARCHAR},
      PID = #{pid,jdbcType=NVARCHAR},
      SORT = #{sort,jdbcType=INTEGER},
      LONGITUDE = #{longitude,jdbcType=DECIMAL},
      LATITUDE = #{latitude,jdbcType=DECIMAL},
      REMARK = #{remark,jdbcType=NVARCHAR}
    where ID = #{id,jdbcType=NVARCHAR}
  </update>
  <select id="getListByCondition" resultMap="BaseResultMap" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Thu Jul 27 11:16:01 CST 2017.
    -->
    select 
    <include refid="Base_Column_List" />
     from SYS_REGION
    <where >
      <if test="@Ognl@isNotEmpty(id)" >
         and ID = #{id,jdbcType=NVARCHAR}
      </if>
      <if test="@Ognl@isNotEmpty(name)" >
         and NAME = #{name,jdbcType=NVARCHAR}
      </if>
      <if test="@Ognl@isNotEmpty(pid)" >
         and PID = #{pid,jdbcType=NVARCHAR}
      </if>
      <if test="@Ognl@isNotEmpty(sort)" >
         and SORT = #{sort,jdbcType=INTEGER}
      </if>
      <if test="@Ognl@isNotEmpty(longitude)" >
         and LONGITUDE = #{longitude,jdbcType=DECIMAL}
      </if>
      <if test="@Ognl@isNotEmpty(latitude)" >
         and LATITUDE = #{latitude,jdbcType=DECIMAL}
      </if>
      <if test="@Ognl@isNotEmpty(remark)" >
         and REMARK = #{remark,jdbcType=NVARCHAR}
      </if>
    </where>
    <if test="@Ognl@isNotEmpty(sortColumn)" >
       order by ${sortColumn} 
    </if>
  </select>
  <select id="countList" resultType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Thu Jul 27 11:16:01 CST 2017.
    -->
    select count(*) from SYS_REGION
    <where >
      <if test="@Ognl@isNotEmpty(id)" >
         and ID = #{id,jdbcType=NVARCHAR}
      </if>
      <if test="@Ognl@isNotEmpty(name)" >
         and NAME = #{name,jdbcType=NVARCHAR}
      </if>
      <if test="@Ognl@isNotEmpty(pid)" >
         and PID = #{pid,jdbcType=NVARCHAR}
      </if>
      <if test="@Ognl@isNotEmpty(sort)" >
         and SORT = #{sort,jdbcType=INTEGER}
      </if>
      <if test="@Ognl@isNotEmpty(longitude)" >
         and LONGITUDE = #{longitude,jdbcType=DECIMAL}
      </if>
      <if test="@Ognl@isNotEmpty(latitude)" >
         and LATITUDE = #{latitude,jdbcType=DECIMAL}
      </if>
      <if test="@Ognl@isNotEmpty(remark)" >
         and REMARK = #{remark,jdbcType=NVARCHAR}
      </if>
    </where>
  </select>
  
  <select id="getFullNameById" resultType="map">
  	WITH NODES     
	 AS (   
	 SELECT * FROM SYS_REGION T1 WHERE T1.ID = '${id}'  
	 UNION ALL     
	 SELECT T2.* FROM SYS_REGION T2 INNER JOIN   
	  NODES N ON T2.ID = N.PID)    
	 SELECT TT.NAME FROM SYS_REGION TT WHERE TT.ID IN (SELECT ID FROM NODES N ) ORDER BY TT.SORT
  </select>
</mapper>