.table_style1 {
	margin: 0px 0px;
	padding: 0px;
	width: 100%;;
	font-size: 12px;
	border-collapse: collapse;
}
.table_style1 thead {
	margin: 0px;
	padding: 0px;
	height: 24px;
	color: #686868;
	line-height: 24px;
	text-indent: 10px;
	border: 1px solid #CCCCCC;
	background: url(../images/thead_bg2.jpg) repeat-x;
}
#td2{
	padding: 0px;
	height: 48px;
	color: #686868;
	line-height: 48px;
	text-indent: 10px;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	background: url(../images/thead_bg2.jpg) repeat-x;

}
.table_style1 tbody {
	margin: 0px;
	padding: 0px;
}
.table_style1 tbody td {
	padding: 0px;
	height: 28px;
	line-height: 28px;
	text-indent: 10px;
}

.table_style2 {
	margin: 0px 0px;
	padding: 0px;
	width: 100%;;
	font-size: 12px;
	background: #F6F9FC;
}
.table_style2 td {
	padding-top: 8px;
	padding-right: 20px;
	height: 28px;
	line-height: 28px;
	text-indent: 30px;
}

#table tr.color1{
	/**background-color: #FBFBFB;**/
	background-color: #f5f5f5;
}
#table tr.color2{
	/**background-color: #FFFFFF;**/
	background-color: #f9f9f9;
}
#table tbody td{
	 text-overflow:ellipsis; /* for IE */ 
	 -moz-text-overflow: ellipsis; /* for Firefox,mozilla */ 
	 -o-text-overflow: ellipsis;
	 overflow:hidden;
	 white-space: nowrap;
	 text-align:left
 }
